GOOGLE_API_KEY = GOOGLE_API_KEY
CHROMA_API_KEY=CHROMA_API_KEY
CHROMA_TENANT=CHROMA_TENANT
CHROMA_DATABASE=CHROMA_DATABASE
LANGSMITH_TRACING=true
LANGSMITH_API_KEY = LANGSMITH_API_KEY
LANGSMITH_PROJECT=LANGSMITH_PROJECT
GROQ_API_KEY = GROQ_API_KEY
SUPABASE_JWT_SECRET = SUPABASE_JWT_SECRET
SUPABASE_ANON_KEY = SUPABASE_ANON_KEY
SUPABASE_URL = SUPABASE_URL
DATABASE_URl=DATABASE_URL